header#top.navbar.navbar-static-top(role='banner')
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
        span.sr-only
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a#brandLogo.navbar-brand(href='/')
        img.m-r-xs(src=CONFIG.CDN_HOST + "/img/app.svg" width="42", height="42")
        span.text-xl.font-bold #{pkg.product_name}

    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul.nav.navbar-nav.navbar-right
        li
          if (req.isAuthenticated())
            a(href='/logout') Logout
          else
            a(href='/login') Sign In
