block logo
  a.brandLogoCenter.text-center.block(href='/')
    img.inline.m-auto(src=CONFIG.CDN_HOST + "/img/app.png" width="72", height="72")
    span.inline.h1.text-brand.font-bold #{pkg.product_name}
