extends ../layouts/default


block main

  .container

    .signin-block.pull-none.m-auto.m-t-lg
      .panel.panel-default.padder.r2x

        .m-t-md.padder-v.text-center
          a#linkedin-signin.btn.btn-lg.btn-linkedin(data-mechanism='linkedin', href='/auth/linkedin?resource=user')
            i.fa.fa-linkedin-square &nbsp;
            span Sign in with LinkedIn
              sup ®

        .padder-v.text-center
          a.btn.btn-lg.btn-google(data-mechanism='google', href='/auth/google?resource=user')
            i.fa.fa-fw.fa-google
            span Sign in with Google
              sup ®

        form.col-lg-12.m-t-md.m-b-lg.form-signin(action="/users/session", method="post", role="form")
          if messages.errors
            .alert.alert-danger.animated.fadeIn
              button.close(type='button', data-dismiss='alert') ×
              for error in messages.errors
                div= error.msg

          input(type='hidden', name='_csrf', value="#{_csrf}")
          .list-group
            .list-group-item
              input.form-control.box-shadow-none.no-border(type='text', autocomplete="off" placeholder='Email', name="email")
            .list-group-item
              input.form-control.box-shadow-none.no-border(type='password', placeholder='Password', name="password")

          button.pull-left.btn.btn-lg.btn-s-lg.btn-primary.btn-block.btn-login(type='submit') Sign In

          a.m-t-sm.block.pull-right(href="forgot-password" class="forgot-password") Forgot Password

          .clearfix

        div.clearfix

    p.m-t-md.m-b-xs.text-gray.text-center
      small Don't have a Hireable account?
    p.text-muted.text-center
      a(href='/signup') Sign up now for free ›
