extends ../layouts/dashboard

block main
  .container-fluid.padder-v
    .row
      .col-sm-12.col-md-9.col-lg-10

        .published-position-block.m-b-xl
          div.block-title.m-t-sm
            h3.m-t-none.text-black
              i.fa.fa-cloud &nbsp;
              | PUBLISHED POSITIONS

          //- .panel.panel-default.m-b.b-dotted.b-2x.no-bg
          //-   .wrapper-lg.text-center
          //-     p.h4.text-gray.f-normal Published positions appear on your careers page and collect applications from candidates
          //-     p.h4.text-center
          //-       a(href="/jobs/create")
          //-        | Create a new position&nbsp;
          //-        i.fa.fa-chevron-right

          .panel.panel-default.m-b
            .m-t-sm.m-b-sm
              .col-md-10
                span.h4.m-t-none.inline.m-r-sm.job-title Software Engineer
                span.h5.inline.m-r-xs.job-division Engineer
                span.h5.inline.m-r-xs.job-location San Francisco
                span.h5.inline.m-r-xs.job-type Full Time

              .col-md-2.m-t-sm.text-right
                a.text-dark(href="#")
                  i.fa.fa-user &nbsp;
                  span.text-xs.f-bold.m-t-n-xs.count-applicant 2

                a.text-dark.m-l-sm(href="#")
                  i.fa.fa-user &nbsp;
                  span.text-xs.f-bold.m-t-n-xs.count-applicant 2
              .clearfix

            .b-t.b-b
              .col-md-2.text-center.f-bold.b-r
                .wrapper.process-source
                  span.count.f-bold.h3 2
                  strong.block SOURCE
              .col-md-2.text-center.b-r
                .wrapper.process-applied
                  span.count.f-bold.h3 2
                  strong.block APPLIED
              .col-md-2.text-center.b-r
                .wrapper.process-contacting
                  span.count.f-bold.h3 2
                  strong.block CONTACT
              .col-md-2.text-center.b-r
                .wrapper.process-interview
                  span.count.f-bold.h3 -
                  strong.block INTERVIEW
              .col-md-2.text-center.b-r
                .wrapper.process-offer
                  span.count.f-bold.h3 -
                  strong.block OFFER
              .col-md-2.text-center
                .wrapper.process-hired
                  span.count.f-bold.h3 -
                  strong.block HIRED
              .clearfix

            .wrapper-sm.bg-gray-lighter
              .row
                .col-md-9.col-lg-9.action-block
                  a.m-r-md(href="#")
                    i.fa.fa-eye &nbsp;
                    | VIEW

                  a.m-r-md(href="#")
                    i.fa.fa-pencil &nbsp;
                    | EDIT

                  a.m-r-md(href="#")
                    i.fa.fa-cloud-upload &nbsp;
                    | UPLOAD CANDIDATES

                  a.m-r-md.text-disabled(href="#")
                    i.fa.fa-bullhorn &nbsp;
                    | ADVERTISE

                  a.m-r-md.text-disabled(href="#")
                    i.fa.fa-pie-chart &nbsp;
                    | REPORTS

                  a.m-r-md(href="#")
                    i.fa.fa-copy &nbsp;
                    | CLONE

                .col-md-3.col-lg-3.text-right.text-sm
                  strong.job-code ENG-SE
                  time.last-update.no-wrap updated 3 minutes ago
                .clearfix

        .closed-position-block.m-b-xl
          div.block-title.m-t-sm
            h3.m-t-none.text-danger
              i.fa.fa-lock &nbsp;
              | CLOSED POSITIONS

          //- .panel.panel-default.m-b.b-dotted.b-2x.no-bg
          //-   .wrapper-lg.text-center
          //-     p.h4.text-gray.f-normal Posisiton that no longer accepting new applicants will appear here.
          .panel.panel-default.m-b
            .m-t-sm.m-b-sm
              .col-md-10
                span.h4.m-t-none.inline.m-r-sm.job-title Full Stack Engineer
                span.h5.inline.m-r-xs.job-division Engineer
                span.h5.inline.m-r-xs.job-location San Francisco
                span.h5.inline.m-r-xs.job-type Full Time

              .col-md-2.m-t-sm.text-right
                a.text-dark(href="#")
                  i.fa.fa-user &nbsp;
                  span.text-xs.f-bold.m-t-n-xs.count-applicant 2

                a.text-dark.m-l-sm(href="#")
                  i.fa.fa-user &nbsp;
                  span.text-xs.f-bold.m-t-n-xs.count-applicant 2
              .clearfix

            .b-t.b-b
              .col-md-2.text-center.f-bold.b-r
                .wrapper.process-source
                  span.count.f-bold.h3 -
                  strong.block SOURCE
              .col-md-2.text-center.b-r
                .wrapper.process-applied
                  span.count.f-bold.h3 1
                  strong.block APPLIED
              .col-md-2.text-center.b-r
                .wrapper.process-contacting
                  span.count.f-bold.h3 1
                  strong.block CONTACT
              .col-md-2.text-center.b-r
                .wrapper.process-interview
                  span.count.f-bold.h3 -
                  strong.block INTERVIEW
              .col-md-2.text-center.b-r
                .wrapper.process-offer
                  span.count.f-bold.h3 -
                  strong.block OFFER
              .col-md-2.text-center
                .wrapper.process-hired
                  span.count.f-bold.h3 1
                  strong.block HIRED
              .clearfix

            .wrapper-sm.bg-gray-lighter
              .row
                .col-md-9.col-lg-9.action-block
                  a.m-r-md(href="#")
                    i.fa.fa-eye &nbsp;
                    | PREVIEW

                  a.m-r-md(href="#")
                    i.fa.fa-pencil &nbsp;
                    | EDIT

                  a.m-r-md(href="#")
                    i.fa.fa-cloud-upload &nbsp;
                    | UPLOAD CANDIDATES

                  a.m-r-md(href="#")
                    i.fa.fa-archive &nbsp;
                    | ARCHIVE

                  a.m-r-md.text-disabled(href="#")
                    i.fa.fa-pie-chart &nbsp;
                    | REPORTS

                  a.m-r-md(href="#")
                    i.fa.fa-copy &nbsp;
                    | CLONE


        .draft-position-block.m-b-xl
          div.block-title.m-t-sm
            h3.m-t-none.text-dark
              i.fa.fa-edit &nbsp;
              | DRAFTS

          .panel.panel-default.m-b
            .position-item.wrapper.pos-rlt
              h4.m-t-none Backend Developer
              span.text-gray.inline.m-r-md
                i.fa.fa-sitemap &nbsp;
                | Engineering
              span.text-gray
                i.fa.fa-map-marker &nbsp;
                | Central Singapore, Singapore

              .actions
                a(href='#')
                  i.fa.fa-eye &nbsp;
                  | VIEW
                a.inline.m-l-md(href='/backend/jobs/30273/edit')
                  i.fa.fa-pencil &nbsp;
                  | EDIT
                a.inline.m-l-md(data-method='post', href='#', rel='nofollow')
                  i.fa.fa-copy &nbsp;
                  | CLONE
                a.inline.m-l-md(data-confirm='Are you sure you want to delete this position?', data-method='delete', href='#', rel='nofollow')
                  i.fa.fa-remove &nbsp;
                  | DELETE

            .position-item.wrapper.pos-rlt
              h4.m-t-none Frontend Developer
              span.text-gray.inline.m-r-md
                i.fa.fa-sitemap &nbsp;
                | Engineering
              span.text-gray
                i.fa.fa-map-marker &nbsp;
                | Central Singapore, Singapore

              .actions
                a(href='#')
                  i.fa.fa-eye &nbsp;
                  | VIEW
                a.inline.m-l-md(href='/backend/jobs/30273/edit')
                  i.fa.fa-pencil &nbsp;
                  | EDIT
                a.inline.m-l-md(data-method='post', href='#', rel='nofollow')
                  i.fa.fa-copy &nbsp;
                  | CLONE
                a.inline.m-l-md(data-confirm='Are you sure you want to delete this position?', data-method='delete', href='#', rel='nofollow')
                  i.fa.fa-remove &nbsp;
                  | DELETE

          //- .panel.panel-default.m-b.b-dotted.b-2x.no-bg
          //-   .wrapper-lg.text-center
          //-     p.h4.text-gray.f-normal
          //-       | Drafts are job positions you have not yet published.
          //-       a(href="/jobs/create")
          //-        | Create a new position&nbsp;
          //-        i.fa.fa-chevron-right

        .archive-position-block.m-b-xl
          div.block-title.m-t-sm
            h3.m-t-none.text-gray
              i.fa.fa-archive &nbsp;
              | ARCHIVED POSITIONS

          .panel.panel-default.m-b
            .position-item.wrapper.pos-rlt
              h4.m-t-none DevOps Engineering
              span.text-gray.inline.m-r-md
                i.fa.fa-sitemap &nbsp;
                | Engineering
              span.text-gray
                i.fa.fa-map-marker &nbsp;
                | Central Singapore, Singapore

              .actions
                a(href='#')
                  i.fa.fa-eye &nbsp;
                  | VIEW
                a.inline.m-l-md(href='/backend/jobs/30273/edit')
                  i.fa.fa-pencil &nbsp;
                  | EDIT
                a.inline.m-l-md(data-method='post', href='#', rel='nofollow')
                  i.fa.fa-copy &nbsp;
                  | CLONE
                a.inline.m-l-md(data-confirm='Are you sure you want to delete this position?', data-method='delete', href='#', rel='nofollow')
                  i.fa.fa-remove &nbsp;
                  | DELETE

      .col-sm-12.col-md-3.col-lg-2
        p
          a.btn.btn-primary.block(href="jobs/create")
            i.fa.fa-plus
            | &nbsp; Create New Posisiton
      .clearfix

