doctype html
html.app(lang='en')

  include includes/head

  .not-found-404

    .not-found-fill

      include includes/logo

      .container.error-message.m-t-xl
        .error-message-wrap.m-t-xl
          .pull-left.m-r-md
            span 4
            i.fa.fa-frown-o
            span 4
          .col-lg-8
            p.m-t-sm Sorry, but nothing exists here.
            span.error-message-text
              | Find something&nbsp;
              a(href='/') Go to Homepage
              | .
          .clearfix
