extends layouts/default

block main
  #home.m-t-xl.container
    .intro__details
      h1 Hireable for the talent war
      p.text-md A cutting-edge hiring platform to advertise jobs and make better for hiring a good talent.

