extends layouts/default

block main
  #home.m-t-xl.container
    .intro__details
      h1 A simple web app for hiring process
      p.text-md Hiring made easy. Finally, a recruiting platform that works the way you do.

      a.m-t-lg.btn.btn-lg.text-xl.btn-success(href="signup" title="Try it for Free") TRY IT FOR FREE
