extends layouts/default

block main
  #home.m-t-xl.container
    .intro__details
      h1 Experience applicant tracking for the social web.
      p.text-md A beautifully simple tool to advertise jobs and make better hiring decisions with your team.

      a.m-t-lg.btn.btn-lg.text-xl.btn-primary(href="signup" title="Try it for Free") TRY IT FOR FREE
