extends layouts/default

block main
  #home.m-t-xl.container
    .intro__details
      h1 Simple software that helps you do your hiring is easy
      p.text-md Easy-to-use applicant tracking system for productive, web-based hiring.

      a.m-t-lg.btn.btn-lg.text-xl.btn-success(href="signup" title="Try it for Free") TRY IT FOR FREE
