extends ../layouts/dashboard

block main
  .container-fluid.padder-v
    .row
      .col-sm-3.col-md-3.col-lg-2.panel.panel-default.m-b
        aside.row.bg-gray-lighter
          ul.nav.nav-sidebar.m-t-sm.m-b-md
            li.active
              a(href='#')
                i.fa.fa-building-o
                | &nbsp; &nbsp;Company Profile
            li
              a(href='#')
                i.fa.fa-user
                | &nbsp; &nbsp;Account Member
            li
              a(href='#')
                i.fa.fa-cc-visa
                | &nbsp; Subscription Plan
            li
              a(href='#')
                i.fa.fa-dollar
                | &nbsp; &nbsp;Billing Information
            li
              a(href='#')
                i.fa.fa-male
                | &nbsp; &nbsp;Personal Profile
            li
              a.text-muted(href='#')
                i.fa.fa-bullhorn
                | &nbsp; Integrations
            li
              a.text-muted(href='#')
                i.fa.fa-users
                | &nbsp; Recruiting Preferences

      .col-sm-9.col-md-9.col-lg-10
        .panel.panel-default.m-b
          header.panel-heading
            h4.m-n.f-bold Company Profile
          .panel-body
            form
              .form-group.col-lg-6
                label Company Name
                input.form-control(type='text', name='company_name', value='')
              .form-group.col-lg-6
                label Website Url
                input.form-control(type='password', name='', value='')
              .form-group.col-lg-6
                label Subdomain
                input.form-control(type='', name='', value='')
                span.text-muted only letter, number and dashes are allowed.
              .form-group.col-lg-6
                label Logo
                input.form-control(type='', name='', value='')
              .form-group.col-lg-12
                label Logo
                textarea.form-control(rows="3")

